.button-1:hover {
  background-color: rgba(70, 63, 63, 0.66);
}

.button-1 {
  background-color: transparent;
  padding: 1px;
}

.top-space {
  height: 100px;
}

@media (max-width: 520px) {
  .top-space {
    height: 120px;
  }
}
