<div #thumbnail class="thumbnail">
  <div class="thumb-media">
    <div #progressBarCont class="bar-cont">
      <div class="progress bg-dark bar rounded-0" style="height: 5px">
        <div #progressBar class="progress-bar position-relative progress-animation" role="progressbar"
             style="width: 0"></div>
      </div>
    </div>
    <img #thumbImg src="{{'http://' + videoThumbObj.thumbnail}}" alt="" id="video-thumb" class="thumb-img">
    <video preload="metadata" #thumbPrev class="thumb-video" loop src="{{'http://' + videoThumbObj.preview}}"
           id="video-prev" muted="muted" style="display: none"></video>
    <div class="time"><p style="color: white">{{time}}</p></div>
  </div>
  <div class="vid-desc w-100 p-3 text-white">
    <h3 class="w-100 mb-1">{{videoThumbObj.title}}</h3>
    <p style="color: darkgray">{{videoThumbObj.views}} Views</p>

  </div>
</div>

