.thumb-video {
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  height: 60vw;
  width: 100%;
}

.thumb-img {
  width: 100%;
  height: 60vw;
  object-fit: cover;
}

.thumb-media {
  width: 100vw;
  flex-grow: 1;
  flex-shrink: 1;
}

.item-cont{
  position: relative;
}

.bar-cont {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.item-cont .bar {
  position: relative;
  z-index: 5;
}

.progress-animation {
  animation-name: progress;
  animation-duration: 1s;
}

@keyframes progress {
  from {width: 0}
  to {width: 100%}
}
