.thumb-video {
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  height: 65vw;
  width: 100%;
}

.vid-desc {
  width: 100vw;
}

.vid-desc h3 {
  max-height: 14vw;
  width: calc(100vw - 2em);
  overflow: hidden;
  word-wrap: break-word;
}

.thumbnail:hover {
  scale: 120%;
}

.thumb-img {
  width: 100%;
  height: 60vw;
  object-fit: cover;
}

.thumb-media {
  position: relative;
}

.bar-cont {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.item-cont .bar {
  position: relative;
  z-index: 5;
}

.progress-animation {
  animation-name: progress;
  animation-duration: 1s;
}

.time {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.71);
  right: 0;
  padding: 2px 4px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.time p {
  margin-bottom: 0;
}

@keyframes progress {
  from {width: 0}
  to {width: 100%}
}

@media (min-width: 500px) {
  .thumb-video {
    object-fit: cover;
    max-width: 100%;
    height: 225px;
    vertical-align: middle;
    border-radius: 5px;
  }

  .thumb-img {
    object-fit: cover;
    max-width: 100%;
    height: 225px;
    vertical-align: middle;
    border-radius: 5px;
  }

  .bar-cont {
    flex-basis: 350px;
    width: 350px;
    height: 225px;
  }

  .vid-desc {
    width: 350px;
    flex-basis: 350px;
  }

  .vid-desc h3 {
    width: 350px;
    flex-basis: 350px;
  }

  .thumbnail {
  }
}
