.video-display {
  flex-direction: column;
}

.desc-section {
  width: 100%;
}

.label-container {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #484f4f;
  padding: 15px;
}

.label {
  width: max-content;
}

.video {
  width: 100%;
}

@media (min-width: 950px){
  .video-display {
    flex-direction: row;
    margin-left: 1rem;
  }

  .video {
    width: 65vw;
  }
}

@media (min-width: 1250px) {
  .video {
    width: 71vw;
  }
}
