<div class="video-display d-flex">
  <div class="vid-section">
    <video src="{{'http://' + apiDataObj.url}}" controls playsinline class="video"></video>
  </div>
  <div class="desc-section p-3 text-light">
    <h1 class="text-break">{{titleFormatter(apiDataObj.title)}}</h1>
    <p class="">Date added: {{apiDataObj.date}}</p>
    <p>Views: {{apiDataObj.views}}</p>
    <app-labels-editor [labels]="apiDataObj.labels" [videoId]="videoId"></app-labels-editor>
  </div>
</div>
<h1 class="text-light m-3">Recommended for you</h1>
<app-video-list [apiData]="apiData"></app-video-list>
