.upload-container {
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.label-list {
  max-height: 80vh;
}

.label-list::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.label-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.label-selector-body {
  display: flex;
}

.labels-modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(17, 17, 17, 0.56);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.options-container {
  max-height: 90%;
  overflow: auto;
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px;
}

.label {
  width: max-content;
}

.upload-footer {
  display: flex;
  justify-content: space-between;
}

.labels {
  flex-wrap: wrap;
  max-height: 65vh;
  overflow: auto;
}

.labels-section {
  margin-left: 20px;
  width: 50%;
}

@media (min-width: 550px) {
  .options-container {
    width: 60vw;
  }
}

@media (min-width: 1000px) {
  .options-container {
    width: 40vw;
  }
}

@media (min-height: 500px) {
  .labels {
    max-height: 40vh;
  }
}

@media (max-width: 500px) {
  .upload-container {
    width: 90vw;
  }

  .labels-section {
    margin-left: 0;
    width: 100%;
    margin-top: 20px;
  }

  .label-selector-body {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .upload-container {
    width: 60vw;
  }
}

@media (max-width: 930px) {
  .upload-container {
    width: 70vw;
  }
}
