.video-items-holder {
  flex-direction: column;

}

.video-items {
  justify-content: center;
}
@media (min-width: 500px) {
  .video-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .video-items-holder {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .video-items-holder > app-video-thumb {
    flex-basis: 350px;
  }

  .video-items-holder .video-items img, video {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
  }

  .video-items-holder::after {
    content: "";
    flex-basis: 350px;
  }
}
